<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  <form action="" method="post">
    <p>Full Name</p>
    <input type="text" name="name" placeholder="e.g: John Doe">
    <p>Nomber Phone</p>
    <input type="number" name="phone_number" placeholder="e.g: 087866554431">
    <p>Email</p>
    <input type="text" name="email" placeholder="email@gmail.com">
    <p>Username</p>
    <input type="text" name="username" placeholder="e.g: bentol07">
    <p>Password</p>
    <input type="password" name="password" placeholder="e.g: password"><br><br>
    <button type="submit">Register</button>
    <a href="/">Back</a><br>
  </form>
  <label>Sudah punya akun? </label>
  <a href="/login">Login</a>
</body>
</html>