<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top Up</title>
</head>
<body>
  <h2>Please top up here!!</h2>
  <form action="/users/transaction" method="POST">
    <label for="price">Price</label>
  </form>
</body>
</html>