<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voucher List</title>
</head>
<body>
  <h2>List of Voucher</h2>
  <table border="1">
    <thead>
      <th>Amount :</th>
    </thead>
    <tbody>
      <% for (let i = 0; i < data.length; i++) { %>
      <tr>
        <td><%= data[i].name_voucher %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>